vizdoom @ git+https://github.com/mwydmuch/ViZDoom.git@8b59a6828efd9e98936383b6ed02b5287e5baaa9
opencv-python==4.12.0.88
stable_baselines3==2.7.0
tensorboard==2.20.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
wandb==0.21.1